* {
  box-sizing: border-box;
}

h1, h2, h3,
ul, ol,
p,
img {
  margin-bottom: 2rem;
}

body {
  background: url('picture/background.jpg') repeat center;
  font-family: 'Special Elite', cursive;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: black;
}

.lehetoseg,
.program,
.icon {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

h1,
h2 {
  font-family: 'Ultra', serif;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}


/* === Header === */

.cover {
  background: url('picture/background-cover.jpg') no-repeat 70% center/cover;
  display: table;
  text-align: center;
  height: 100vh;
  width: 100%;
}

@media (min-width: 768px) {
  
  .cover {
    background: url('picture/background-cover.jpg') no-repeat center/cover;
  }

}

.hero-text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.hero-text {
  margin: 0 auto;
  padding: .625rem;
  color: hsl(328, 100%, 54%);
  background: hsla(100,0%,0%,.5);
}

.hero-text h1 {
  font-size: 4.15rem;
  color: hsl(328, 100%, 54%);
  margin-bottom: 0;
}

@media (min-width: 768px) {
  
  .hero-text {
    padding: 2.25rem;
    border-radius: 5px;
    width: 50%;
  }
  
  .hero-text h1 {
    font-size: 6rem;
    margin: 4rem
  }
  
}

.tagline {
  font-size: 3.25rem;
  letter-spacing: .15rem;
}

@media (min-width: 768px) {
  
  .tagline {
    text-transform: uppercase;
    margin: 4rem;
  }
  
}

.tagline::after {
  display: block;
  content: "";
  background-color: deeppink;
  width: 20.5rem;
  margin: .5rem auto;

}

.text {
  font-size: 3.25rem;
  letter-spacing: .7rem;
  vertical-align: middle;
  
}

.text::before,
.text::after {
  display: inline-block;
  content: "";
  background-color: deeppink;
  height: 2px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}



/* === Lehetoseg === */


.icon img {
  height: 9.5rem;
}

icon h3 {
  font-weight: 700;
}

.icon::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 25vw;
  margin: 1.5rem auto;
  background-color: black;
}

.icon {
  display: inline-block;
  border: 5px solid;
  border-radius: 10px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  
  .icon {
    display: inline-block;
    width: 24%;
    padding: 3.5rem;
    margin: 0 auto;
    border: 5px solid;
    border-radius: 10px;
    font-weight: 600;
    
  }
  
  .icon::after {
    display: none;
  }
}


/* === Program === */

.program {
  width: 100%;
  text-align: center;
  
}

.program h2 {
  margin-top: 2rem;
}

.program ul {
  letter-spacing: .040rem;
  font-weight: 600;
  line-height: 1.65;
}

@media (min-width: 768px) {
  
  .nyitas {
    width: 30vw;
    margin: 0 auto;
  }
  
}



















